:root {
  --gray-color: #6b6b6b;
  --light-accent-color: #90ee90;
  --dark-accent-color: #006400;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.5s ease;
}

a:hover {
  text-decoration: none !important;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-xsm {
  font-size: 0.5rem;
}

.fs-2xsm {
  font-size: 0.25rem;
}

.text-gray {
  color: var(--gray-color);
}

.list-style-none {
  list-style: none;
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  padding: 5px;
}

.gray-btn {
  border: 1px solid #cfcfcf;
  background-color: #f3f3f3;
  transition: all 0.5s ease;
}

.gray-btn:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.green-btn {
  border: 1px solid var(--dark-accent-color);
  background-color: var(--dark-accent-color);
  color: #fff;
  transition: all 0.5s ease;
}

.green-btn:hover {
  border-color: var(--dark-accent-color);
  background-color: transparent;
  color: var(--dark-accent-color);
}

header {
  z-index: 10;
  top: 0;
  left: 0;
}
header nav {
  list-style: none;
}
header .header-nav-bar {
  width: calc(100% - 30px - 1.5rem);
}
@media screen and (max-width: 1200px) {
  header .header-nav-bar {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  header .header-nav-bar.show {
    height: calc(100vh - 3rem);
  }
}

.header-bars {
  width: calc(100% - 30px - 3.5rem);
  height: auto;
  z-index: 10;
  top: 0.5rem;
  left: calc(2.5rem + 30px);
}
@media screen and (max-width: 1200px) {
  .header-bars {
    height: 0;
    width: 100%;
    top: calc(1rem + 30px);
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  .header-bars > * {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.header-bars.show {
  height: calc(100vh - 30px - 1rem);
  z-index: 10;
  background-color: white;
}
.header-bars.show > * {
  opacity: 1;
}

.text-gradiant {
  color: transparent;
  background: linear-gradient(90deg, var(--dark-accent-color), 5%, white) !important;
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

main {
  margin-top: calc(30px + 1rem);
  background: linear-gradient(20deg, black, 80%, var(--dark-accent-color), #808000);
}
main .banner {
  height: 400px;
  background-color: transparent;
}
main .banner .pre-title {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}
main .features .desc-card {
  border: 1px solid var(--dark-accent-color);
}
main .features .desc-card .desc-card-text-item {
  flex: 1 1 30%;
}
main .features .desc-card .desc-card-img-item {
  flex: 1 1 70%;
}
main .bottom {
  height: 400px;
}
main .bottom .item {
  flex: 1 1 50%;
}
main .desc {
  height: calc(100vh - 50px);
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.task-table {
  min-width: 600px;
}

.overlay-bg {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(33, 33, 33, 0.648);
  transition: all 0.5s ease;
}
.overlay-bg .overlay-input {
  height: 400px;
  width: calc(300px + 2rem);
  top: -100%;
  left: calc((100% - 300px - 2rem) / 2);
  transition: top 0.5s ease;
}
.overlay-bg .overlay-input .input-text {
  width: 300px;
}
@media screen and (max-width: 426px) {
  .overlay-bg .overlay-input {
    width: calc(100% - 2rem);
    left: 1rem;
  }
  .overlay-bg .overlay-input input {
    width: 100%;
  }
}

.overlay-bg.show {
  opacity: 1;
  z-index: 100;
}
.overlay-bg.show .overlay-input {
  top: 3rem;
}

.icon-lg {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

main.login {
  background: linear-gradient(white, var(--dark-accent-color)) !important;
}
main.login form {
  min-width: 250px;
}
@media screen and (min-width: 425px) {
  main.login form {
    min-width: 300px;
  }
}
main.login .sns-signin .text {
  top: 0.5rem;
  left: 0;
}/*# sourceMappingURL=style.css.map */